<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<HTML>

<HEAD>
   <TITLE>NMAP Scan Results</TITLE>
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</HEAD>

<BODY>
   <div class="container">
      <h2>NMAP Results Viewer (XML)</h2>
      
      <p>{{.Scan.UUIDScan }}</p>
      <p>{{.Scan.Scanargs }}</p>
      {{ range .Rows }}
        {{ range $index, $element := .}}{{$index}}
            <p>{{range $element}}{{.IP}}</p>
        {{ end }}
      {{ end }}
   </div>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</BODY>

</HTML>